################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/test_TZ/v15/Server/sqlite3/storage.ide
