################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/test_TZ/v15/Server/sqlite3/storage.ide
/.vs/test_TZ/v15/Server/sqlite3/db.lock
/.vs/test_TZ/v15/Server/sqlite3
/.vs/test_TZ/v15/.suo
/.vs/test_TZ/v15
